.dart_tool/
.packages
build/
*.iml
.idea/
.DS_Store
pubspec.lock
*.g.dart
*.freezed.dart
*.mocks.dart
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.keystore
**/*.jks
lib/generated_plugin_registrant.dart
.env
.env.local
coverage/
